{% extends "base.html" %}
{% block content %}

<h1>{{ item.name }}</h1>

<div class="card-block">

    <h2>Asosiy ma'lumotlar</h2>

    <ul class="list">
        <li><b>Model:</b> {{ item.model }}</li>
        <li><b>Serial raqam:</b> {{ item.serial_number }}</li>
        <li><b>Status:</b> {{ item.status }}</li>
        <li><b>Xodimga biriktirilgan:</b>
            {{ item.assigned_to.username if item.assigned_to else "—" }}
        </li>
        <li><b>Izoh:</b> {{ item.comment }}</li>
        <li><b>Oxirgi yangilanish:</b> {{ item.last_update }}</li>
    </ul>

</div>

{% if session.get("user_role") in ["admin","manager"] %}
<a class="btn btn-warning" href="/orgtech/edit/{{ item.id }}">Tahrirlash</a>
{% endif %}

{% endblock %}
