{% extends "base.html" %}
{% block page_title %}{{ org.name }}{% endblock %}
{% block header_title %}{{ org.name }}{% endblock %}
{% block content %}
<div class="grid-main">
  <div class="column">
    <div class="card-block">
      <h2>{{ org.name }}</h2>
      <ul class="list">
        <li><b>Xodimlar soni:</b> {{ org.employee_count }}</li>
        <li><b>Manzil:</b> {{ org.address or '—' }}</li>
        <li><b>Qavati:</b> {{ org.floor or '—' }}</li>
        <li><b>Izoh:</b> {{ org.comment or '—' }}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
