{% extends "base.html" %}
{% block page_title %}Tizim tashkiloti formasi{% endblock %}
{% block header_title %}Tizim tashkiloti{% endblock %}
{% block content %}
<div class="card-block">
  <form method="post" class="form">
    <label>Tashkilot nomi
      <input type="text" name="name" value="{{ org.name if org else '' }}" required>
    </label>
    <label>Xodimlar soni
      <input type="number" name="employee_count" value="{{ org.employee_count if org else 0 }}">
    </label>
    <label>Manzil
      <input type="text" name="address" value="{{ org.address if org else '' }}">
    </label>
    <label>Qavati
      <input type="text" name="floor" value="{{ org.floor if org else '' }}" placeholder="Masalan: 3-qavat, 2-bino">
    </label>
    <label>Qo'shimcha izoh
      <textarea name="comment" rows="3">{{ org.comment if org else '' }}</textarea>
    </label>
    <button type="submit" class="btn-primary">Saqlash</button>
  </form>
</div>
{% endblock %}
