{% extends "base.html" %}
{% block header_title %}Xodimlar ro‘yxati{% endblock %}
{% block content %}

<div class="page-title"><h1>Xodimlar</h1></div>

<div class="org-grid">

  {% for u in users %}
  <div class="org-card" onclick="window.location='/hr/profile/{{ u.id }}'">

      <div class="org-header">
        <h3>{{ u.full_name }}</h3>
        <span class="org-count">{{ u.position }}</span>
      </div>

      <div class="org-body">
        <div><b>Telefon:</b> {{ u.phone }}</div>
        <div><b>Manzil:</b> {{ u.address }}</div>
      </div>

  </div>
  {% else %}
    <div class="empty-text">Xodimlar hali kiritilmagan.</div>
  {% endfor %}

</div>

{% endblock %}
